@import '../styles/colors.css';

.create-theme {
  flex: 1;
  background-color: white;
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  padding: 10px;
  height: calc(100vh - 20px);
  overflow: hidden;
}

.create-theme-header {
  position: relative;
}

.back-button:hover {
  background-color: #f5f5f5;
  color: #333;
}

.create-theme-content {
  display: flex;
  height: calc(100vh - 140px);
  overflow: hidden;
}

.create-theme-header {
  position: relative;
}

.back-button {
  position: absolute;
  left: 20px;
  top: 37%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
  transition: color 0.2s ease;
  z-index: 10;
}

.back-button svg {
  width: 30px;
  height: 30px;
}

.back-button:hover {
  color: #e54f02;
}

.create-theme-header .dashboard-header {
  margin-left: 40px;
}

.create-theme-header .dashboard-header {
  align-items: center;
}

.create-theme-header .save-button {
  align-self: center;
}

.theme-editor {
  flex: 1;
  padding: 20px;
}